azure-ai-projects
azure-identity
azure-ai-inference
python-dotenv
azure-search-documents==11.6.0b12
opentelemetry-sdk
azure-ai-inference[opentelemetry] 
openai
azure-monitor-opentelemetry
azure-ai-evaluation